<h1>Available Classrooms</h1>

<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-2">
  <% @classrooms.each do |classroom| %>
  <li>
    <ul>
      <li class="classroom-index">
        <h2><%= classroom.name %></h2> <br>
        <%= link_to "Bookings", classroom_bookings_path(classroom) %> <br>
        <% if can? :update, Classroom %>
        <%= link_to "Edit", edit_classroom_path(classroom) %> |
        <%= link_to "Delete", classroom_path(classroom), data: { confirm: 'Are you sure?' }, method: :delete %>
        <% end %>
      </li>
    </ul>
  </li>
  <% end %>
</ul>