<h3>Available Classrooms</h3>

<% @classrooms.each do |classroom| %>
  <div class="classroom">
    <%= classroom.name %>
    <%= link_to "Bookings", classroom_bookings_path(classroom) %>
    <% if can? :update, Classroom %>
    <%= link_to "Delete", classroom_path(classroom), data: { confirm: 'Are you sure?' }, method: :delete %>
    <%= link_to "Edit", edit_classroom_path(classroom) %>
    <% end %>
  </div>
<% end %>
