<p id="notice"><%= notice %></p>

<h1>Listing Courses</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @course_types.each do |course| %>
    <tr>
      <td><%= link_to "#{course.name}", course %></td>
      <% if can? :update, CourseType %>
      <td><%= link_to 'Edit', edit_course_type_path(course) %></td>
      <td><%= link_to 'Delete', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>